<%= form_for(@customer, url: customers_path(@customer), html: {:multipart => true}) do |f| %>
    <% if @customer.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@customer.errors.count, "error") %> prohibited this customer from being saved:</h2>

          <ul>
            <% @customer.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="field">
      <%= f.label :email %><br>
      <%= f.text_field :email %>
    </div>

    <div class="field">
      <%= f.label :password %><br>
      <%= f.password_field :password %>
    </div>

    <div class="field">
      <%= f.label :password_confirmation %><br>
      <%= f.password_field :password_confirmation %>
    </div>

    <%= f.hidden_field :role_name, :value => "customer" %>

    <% @customer.profile ||= Profile.new %>

    <%= f.fields_for :profile do |ff| %>
        <%= ff.hidden_field :role_name, :value => "customer" %>
        <div class="field">
          <%= ff.label :sgsID %><br>
          <%= ff.text_field :sgsID %>
        </div>

        <div class="field">
          <%= ff.label :name %><br>
          <%= ff.text_field :name %>
        </div>

        <div class="field">
          <%= ff.label :phone %><br>
          <%= ff.text_field :phone %>
        </div>
        <div class="field">
          <%= ff.label :stage %><br>
          <%= ff.select :stage, options_for_select(["QL", "FC", "Pending", "Final"]) %>
        </div>
        <div class="field">
          <%= ff.label :signature %><br>
          <%= ff.text_area :signature %>
        </div>

        <div class="field">
          <%= ff.label :avatar %><br>
          <%= ff.file_field :avatar %>
        </div>

        <% 3.times { @customer.profile.assets.build } %>
        <div class="field">
          <label>Elitricity Bills</label><br>
          <%= ff.fields_for :assets, @customer.profile.assets do |a| %>
              <label></label><br>
              <%= a.file_field :bill %>
          <% end %>
        </div>
    <% end %>

    <div class="actions">
      <%= f.submit "Save", :class => "smallBtn" %>
    </div>

<% end %>
