<h1>Customers</h1>

<table>
  <thead>
  <tr>
    <th>SgsID</th>
    <th>Name</th>
    <th>Email</th>
    <th>Phone</th>
    <th>Properties</th>
    <th>Stage</th>
    <th></th>
  </tr>
  </thead>

  <tbody>
  <% @customers.each do |customer| %>
      <tr>
        <td><%= customer.profile.sgsID %></td>
        <td><%= customer.profile.name %></td>
        <td><%= customer.email %></td>
        <td><%= customer.profile.phone %></td>
        <td><%= customer.properties_names %></td>
        <td><%= customer.profile.stage %></td>
        <td><%= link_to 'Destroy', customer_path(customer), method: :delete, data: {confirm: 'Are you sure?'} %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Customer', new_customer_path %>
