<p>
  <strong>Name:</strong>
  <%= @customer.profile.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @customer.email %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @customer.profile.phone %>
</p>

<p>
  <strong>Sgsid:</strong>
  <%= @customer.profile.sgsID %>
</p>

<p>
  <strong>Signature:</strong>
  <%= @customer.profile.signature %>
</p>

<p>
  <strong>Stage:</strong>
  <%= @customer.profile.stage %>
</p>
