<div class="leftHeading">
  <div class="inrHeading">Customers</div>
  <div class="inrHeadingGray">
    <%= link_to "Manage Customers", customers_path %>
  </div>
  <div class="inrHeadingGray">
    <%= link_to "New Customer", new_customer_path %>
  </div>
</div>

<div class="leftHeading">
  <div class="inrHeading">Properties</div>
  <div class="inrHeadingGray">
    <%= link_to "Manage Properties", properties_path %>
  </div>
  <div class="inrHeadingGray">
    <%= link_to "New Property", new_property_path %>
  </div>
</div>

<div class="leftHeading">
  <div class="inrHeading">Companies</div>
  <div class="inrHeadingGray">
    <%= link_to "Manage Companies", companies_path %>
  </div>
  <div class="inrHeadingGray">
    <%= link_to "New Company", new_company_path %>
  </div>
</div>

<div class="leftHeading">
  <div class="inrHeading">Staffs</div>
  <div class="inrHeadingGray">
    <%= link_to "Manage Staffs", staffs_path %>
  </div>
  <div class="inrHeadingGray">
    <%= link_to "New Staff", new_staff_path %>
  </div>
</div>