<!DOCTYPE html>
<html>
<head>
  <title>SungradeSolar2</title>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

  <% if user_signed_in? && !current_user.admin? %>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <% end %>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>

  <%= csrf_meta_tags %>
</head>
<body>
<div class="mainContainer"></div>
<div class="mainholder">
  <div class="center">
    <%= render :partial => "layouts/header" %>
    <div id="flash">
      <%= render :partial => 'layouts/flash', :object => flash %>
    </div>
    <div class="center">
      <div style="margin-top:20px; float:left;">
        <% if user_signed_in? && current_user.admin? %>
            <div class="leftContainer">
              <%= render :partial => "layouts/links" %>
            </div>
            <div class="rightContainer">
              <%= yield %>
            </div>
        <% else %>
            <div class="fullContainer">
              <%= yield %>
            </div>
        <% end %>
      </div>
    </div>
    <%= render :partial => "layouts/footer" %>
  </div>
</div>

<!-- Modal -->
<div class="modal" id="myModal" role="dialog" style="display: none"></div>

<div class="modal" id="eventModal" role="dialog" style="display: none"></div>

</body>
</html>